html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header, footer {
    padding: 1rem;
    background-color: #72c1b1;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem;
}

.erreur {
    color: #a00;
}
