#liste-tache {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
    padding: 0;
}

#liste-tache label {
    display: flex;
    gap: .5rem
}

#form-tache {
    display: flex;
}

#texte-tache {
    width: 100%;
    padding: .5rem;
}