<header>
    <h1>Liste de tâches</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Accueil</a>
            </li>
            <li>
                <a href="/apropos">À propos</a>
            </li>
        </ul>
    </nav>
</header>